.st0:hover {
  fill: #3399ff;
}
.st1:hover {
  fill: #3399ff;
}
.st2:hover {
  fill: #3399ff;
}

.st3:hover {
  fill: #3399ff;
}

.st4:hover {
  fill: #3399ff;
}

.st5:hover {
  fill: #3399ff;
}
.st6:hover {
  fill: #3399ff;
}

.st7:hover {
  fill: #3399ff;
}
.st8:hover {
  fill: #3399ff;
}
.st9:hover {
  fill: #3399ff;
}

.st10:hover {
  fill: #3399ff;
}

.st11:hover {
  fill: #3399ff;
}

.st12:hover {
  fill: #3399ff;
}
.st13:hover {
  fill: #3399ff;
}

.st14:hover {
  fill: #3399ff;
}
.st15:hover {
  fill: #3399ff;
}
.st16:hover {
  fill: #3399ff;
}
.st17:hover {
  fill: #3399ff;
}
.st18:hover {
  fill: #3399ff;
}
.st19:hover {
  fill: #3399ff;
}

.st20:hover {
  fill: #3399ff;
}
.st21:hover {
  fill: #3399ff;
}
.st22:hover {
  fill: #3399ff;
}
.st23:hover {
  fill: #3399ff;
}
